body {
    font-family: 'Roboto', sans-serif;
    font-size: 15 px;
    line-height: 1.5 em;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01520938;
  }

ol {
    list-style-type:none;
}

.header {
    position: relative;
    width: 100 %;
    background-color: #014a00;
    color: white;
    text-align: center;
    padding: 50 px 20 px;
    clip-path: polygon (0 0, 100 % 0, 50 % 100 %);
}
header img {
    width: 250 px;
    height: 250 px;
    display: block;
    margin: 40 px auto;
    border: 4 px solid white;
    border-radius: 50 %;
}

.container {
    display: flex;
    max-width: 900 px;
    width: 100 %;
}

.column {
    padding: 20 px;
}

.left-column {
    background-color: #f2f1f1;
    width: 35 %;
}

.right-column {
    background-color: white;
    width: 65 %;
}

h2 {
    color: rgb (3, 99, 0);
    display: flex;
    align-items: center;
    gap: 10 px;
}

h3 {
    color: rgb (65, 65, 65);
}

h1 {
    color: rgb (242, 89, 0);
    text-align: center;
}

link {
    color: white;
}

footer {
    text-align: center;
    padding: 10 px;
    width:100 %;
    background-color: #015209;
    color: white;
}
