body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #363636;
}

ol {
    list-style-type: none;
}

ul {
    padding-left: 0;
    /* Убираем отступы по умолчанию */
}

li {
    margin-bottom: 5px;
    /* Отступ между пунктами списка */
}

.header {
    position: relative;
    width: 100%;
    background-color: #ff6f00;
    color: white;
    padding: 20px;
    margin: 0 0 30px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* Элементы внутри header будут располагаться вертикально */
    align-items: center;
    /* Выравнивает элементы по центру по горизонтали */
    text-align: center;
}

.change-lang {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #ff6a00;
    border-radius: 5px;
    background-color: white;
    color: #014a00;
    cursor: pointer;
    transition: all 0.3s ease;
}

.change-lang:hover {
    background-color: #ff6a00;
    color: white;
    border-color: #ff6a00;
}

.change-lang:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(1, 74, 0, 0.5);
}

header img {
    width: 250px;
    /* указываем размер картинки */
    height: 250px;
    display: flex;
    margin: 40px auto;
    border: 4px solid #bddaf8;
    border-radius: 50%;
}

.contacts {
    color: #00000087;
    text-align: center;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
}

.column {
    padding: 20px;
}

.left-column {
    background-color: #bddaf8;
    width: 35%;
}

.right-column {
    background-color: #f5f5f5;
    width: 65%;
}

.place {
    text-align: center;
}

h2 {
    color: #004d9d;
    display: flex;
    align-items: center;
    gap: 10px;
}

h3 {
    color: #4b4b4b;
}

h1 {
    color: white;
    text-align: center;
}

a {
    color: #ff6f00;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100vw;
    font-size: 17px;
    background-color: #00254b;
    color: white;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .header img {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        text-align: center;
        font-size: 20px;
    }

    .contacts {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header img {
        max-width: 120px;
    }
}
